<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.layout">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon, android:label">

        <!-- Use a hardcoded label string on the service
        to keep the name of the original plugin if added as a library to another -->
        <service
            android:name="com.aware.plugin.layout.Plugin"
            android:exported="true"
            android:label="AWARE: Layout" />

        <activity
            android:name="com.aware.plugin.layout.Settings"
            android:exported="true" />

        <!-- Keep the ${applicationId} so there are no conflicts when merging this plugin as a library for reuse. Update the plugin_template string in values -->
        <provider
            android:name="com.aware.plugin.layout.Provider"
            android:authorities="${applicationId}.provider.layout"
            android:exported="true"
            android:label="@string/plugin_template"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="com.aware.plugin.layout.syncadapters.Layout_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_template" />
        </service>

        <service
            android:name="com.aware.plugin.layout.Layout"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/aware_accessibility_config" />
        </service>
    </application>
</manifest>
